<ion-view title="Konumlar" id="page1">
  <ion-content padding="true" class="has-header">
    <h3 id="konumlar-heading2" style="color:#000000;">Konumunuz</h3>
    <iframe width="100%" height="330" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCtO38uFfqgIn3pJTBywTi9vNJUZxeuZ84&amp;q=Istanbul&amp;zoom=16" allowfullscreen="">
    </iframe>
    <button id="konumlar-button4" class="button button-positive button-block">Kuafor Ekle</button>
    <button id="konumlar-button3" class="button button-positive button-block">Olay Ekle</button>
  </ion-content>
</ion-view>